# Copy this file to .env and fill in your values
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_STRING
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DEBUG=False
ALLOWED_ORIGINS=http://localhost:5500